body{
    background-color: #eaeaea;
    font-family: 'Noto Sans', sans-serif;
}

div.subscribe{
    margin-top: 125px;
    padding: 10px;
    background-color: #fafafa;
}

button.subscribe {
    margin-top: 10px;
    margin-bottom: 15px;
}
